<h1>Travel</h1>
<p>Select trains between stations</p>
<%= render :partial => "form" %><br />
<%= render :partial => "stations_list" %>
<%= render :partial => "trains_list" %>
<br /><br />
<%= link_to "Add Train > Stations Entry", train_visiting_stations_path %> | 
<%= link_to "Add New Train", new_train_path %>